$border: 1px solid #1E2D3D;

body, html {
  font-family: 'Fira Code', monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: #010C15;
  padding: 4%;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.page-container {
  max-height: 92%;
  border: 1px solid #1E2D3D;
  box-sizing: border-box;
  border-radius: 8px;
  background: #011627;

  background-size: 780px;
}

.about {
  display: flex;
  flex-direction: row;
}


.about-nav {
  display: flex;
}

.aside-nav {
  padding-top: 17px;
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $border;
  box-sizing: border-box;
}

.aside-button {
  margin-top: 33px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  opacity: 0.4;
  &_current {
    opacity: 1;
}
  &:hover {
    opacity: 1;
  }
}

.aside-prof-info {
  background-image: url(/img/about/professional-info-icon.png);
  background-repeat: no-repeat;
  background-position: center;

}

.aside-pers-info {
  background-image: url(/img/about/personal-info-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.aside-hobbies {
  background-image: url(/img/about/hobbies-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.nav-tree__title {
  color: white;
  text-align: left;
  border-bottom: $border;
  box-sizing: border-box;
  padding: 10px 15px;
  cursor: pointer;
}

.nav {
  min-width: 250px;
}

.nav-tree {
  &__markdown {
    transition: all 0.3s linear;
    background-image: url(/img/about/md-icon.png);
    background-repeat: no-repeat;
    background-position: 22px;
    color: #607B96;
    height: 22px;
    cursor: pointer;
    &:before {
      content: '>';
      visibility: hidden;
      margin-right: 35px; 
    }

    &:hover {
      color: white;
    }
  }
  &-content {
    padding: 22px 0 27px 16px;
    border-bottom: $border;
    box-sizing: border-box;
    transition: all 0.3s linear;

  }
  &__folder {
    color: #607B96;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      color: white;
    }
  }

  // .nav-tree__bio
  &__bio, &__work {
    background-image: url(/img/about/red-folder.png);
    background-repeat: no-repeat;
    background-position: 20px;
    
  }

  // .nav-tree__interests
  &__interests {
    background-image: url(/img/about/green-folder.png);
    background-repeat: no-repeat;
    background-position: 20px;
  }

  // .nav-tree__education
  &__education {
    background-image: url(/img/about/blue-folder.png);
    background-repeat: no-repeat;
    background-position: 20px;
  }
}


.nav-contacts {
  // .nav-contacts__email
  &__email {
    color: #607B96;
    transition: all 0.3s ease-out;
    padding-left: 38px;
    margin-top: 18px;

    background-image: url(/img/about/mail-icon.png);
    background-repeat: no-repeat;
    background-position: 20px;
  }

  // .nav-contacts__phone
  &__phone {
    color: #607B96;
    transition: all 0.3s ease-out;
    padding-left: 38px;
    margin-top: 9px;
    background-image: url(/img/about/phone-icon.png);
    background-repeat: no-repeat;
    background-position: 20px;
  }
}

.content {
  border-left: $border;
  flex-grow: 2;
}

.content-tab {
  text-align: left;
  box-sizing: border-box;
  padding: 10px 15px;
  color: #607B96;
  border-right: $border;
  width: 260px;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  
  &:before {
    // white triangle arrow
    margin-right: 10px;
    content: '';
    font-size: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.4px 4.25px 0 4.25px;
    border-color: #ffffff transparent transparent transparent;
    visibility: hidden;
  }
}

.content-window {
  border-top: $border;
  color: #607B96;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  &-slider {
    width: 25px;
    min-height: 100%;
    visibility: hidden;
    box-sizing: border-box;
    border-left: $border;

    &__slider {
      width: 100%;
      height: 6px;
      background: #607B96;
    }
  }
}


.content-window-text {
  min-height: 500px;
  display: block;
  color: #607B96;
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 35px;
  padding: 10px 15px;

  &__stroke {
    position: relative;
    margin: 0;
    padding-bottom: 5px;

    &:before {
      content: counter(num);
      counter-increment: num;
      display: inline-block;
      width: 25px;
      text-align: right;
      margin-right: 35px;
    }
  }
}

.close {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #607B96;
  font-size: 16px;
  font-weight: 800;
  margin-right: 10px;
}

.folder-arrow {
  display: inline-block;
  margin-right: 30px;
  transition: all 0.3s ease-out;

  &_opened {
    transform: rotate(90deg);
  }
}

.invisible {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  margin: 0;
  padding: 0;
}

.cat-arrow {
    transition: all 0.3s ease-out;
    // white triangle arrow
    display: inline-block;
    margin-right: 10px;
    content: '';
    font-size: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.4px 4.25px 0 4.25px;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(-90deg);


    &_opened {
      transform: rotate(0deg);
    }
}

@media (max-width: 768px) {

  .nav {
    width: 100%;
  }

  .about,
  .about-nav {
    flex-direction: column;
  }

  .aside-nav {
    padding-top: 0;
    flex-direction: row;
    width: 100%;
    border-right: none;
    border-bottom: $border;
    justify-content: space-evenly;
    height: 45px;
  }

  .aside-button {
    margin-top: 0;
  }

  .content-window-slider,
  .content-tab {
    display: none;
  }

  .content-window {
    border-top: none;
    margin-top: 25px;
  }

  .container {
    border-left: none;
    min-width: 100%;
    border-collapse: collapse;
  }

  .nav-tree__title {
    background: #1E2D3D;

  }
}