body, html {
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010C15;
    
}



.page-container {
    margin: 4%;
    max-height: 92%;
    border: 1px solid #1E2D3D;
    box-sizing: border-box;
    border-radius: 8px;
    background: #011627 url(/img/home/snakegame-blur.png) no-repeat 80% 50%;

    background-size: 780px;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.content {
    transition: all 0.3s ease;
    margin: 180px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1600px) {
  
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .snake-game {
        margin-top: 25px;
    }
}

.snake-game {
  position: relative;
  min-height: 475px;
  min-width: 510px;
  display: block;
  padding-left: 15px;
  background-image: url(/img/home/snakegame-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
   

    &__game {
      box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
      border-radius: 8px;
      position: absolute;
      height: 420px;
      top: 25px;
      left: 30px;
    }

    &__info {

      &_foodleft {
        position: absolute;
        top: 175px;
        right: 60px;
      }
      
      &_foods {
        top: 200px;
        right: 50px;
        position: absolute;
        min-width: 115px;
        max-width: 115px;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &-food {
          transition: all 0.3s ease-in-out;
          width: 0;
          height: 0;
          border: 4px solid rgb(67, 217, 173);
          border-radius: 50%;
          margin: 6px;
          box-shadow: 0px 0px 5px 4px rgba(67, 217, 173, 0.3);
        }
      }

      &_arrows {
        position: relative;
        
        &-text {
          padding-left: 10px;
          margin-top: 10px;
        }

        &-arrowup, &-arrowdown {
          background-image: url(/img/home/arrow-up.png);
          background-repeat: no-repeat;
          background-size:contain;
          width: 45px;
          height: 25px;
          position: absolute;
          top: 105px;
          right: 55px;
        
        }
        &-arrowup {
          top: 75px;
        }
        &-arrowdown {
          transform: rotate(180deg);
          right: 57px;
        }

        &-arrowleft, &-arrowright {
          background-image: url(/img/home/arrow-left.png);
          background-repeat: no-repeat;
          background-size: contain;
          width: 45px;
          height: 25px;
          position: absolute;
          top: 105px;
          right: 100px;
        }

        &-arrowright {
          transform: rotate(180deg);
          right: 13px;
        }

        position: absolute;    
        top: 25px;
        right: 30px;    
        width: 160px;
        height: 142px;
        background: rgba(1, 20, 35, 0.19);
        border-radius: 8px;
      }

      
    }
}

.greeting-title, .greeting {
    display: flex;
    flex-direction: column;
}

.greeting-title .greeting-title__dev {
  color: #4D5BCE;
}
.greeting-subtitle {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.greeting-subtitle .greeting-subtitle__game-tip,
.greeting-subtitle .greeting-subtitle__git-tip,
.greeting-subtitle .greeting-subtitle__git-tip_mobile {
    color: #607B96;
}

.greeting-subtitle__git-tip_mobile {
  display: none;
}

.greeting-subtitle__git-link {
    text-decoration: none;
}

.greeting-subtitle__git-link_blue {
    color: #4D5BCE;
}

.greeting-subtitle__git-link_green {
    color: #43D9AD;
}

.greeting-subtitle__git-link_red-link {
    color: #E99287;
}
.greeting-subtitle__git-link_red-link:hover {
    text-decoration: underline;
}



.skip {
  position: absolute;
  width: 62px;
  height: 38px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  outline: none;
  background: none;
  right: 30px;
  bottom: 30px;

  &:hover, &:focus {
    opacity: 0.7;
    cursor: pointer;
  }
}