$border: 1px solid #1E2D3D;

body, html {
  font-family: 'Fira Code', monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: #010C15;
  padding: 4%;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.page-container {
  max-height: 92%;
  border: 1px solid #1E2D3D;
  box-sizing: border-box;
  border-radius: 8px;
  background: #011627;

  background-size: 780px;
}

.projects-nav {
  width: 25%;  
}
.nav-tree {
  &__title {
    color: white;
    padding: 10px 15px;
    text-align: left;
    border-bottom: $border;
    box-sizing: border-box;
    &:before {
      // white triangle arrow
      margin-right: 10px;
      content: '';
      font-size: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.4px 4.25px 0 4.25px;
      border-color: #ffffff transparent transparent transparent;
      }
    }

  &-content {

    display: flex;
    flex-direction: column;

    &__item {
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      padding: 17px 22px;
      color: #607B96;

      &_selected, &:hover {
        color: white;
        background-color: none;       
      }

      &_react {
        background-image: url(/img/projects/react.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }

      &_html {
        background-image: url(/img/projects/html.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }

      &_css {
        background-image: url(/img/projects/css.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }

      &_vue {
        background-image: url(/img/projects/vue.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }

      &_angular {
        background-image: url(/img/projects/angular.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }

      &_flutter {
        background-image: url(/img/projects/flutter.png);
        background-repeat: no-repeat;
        background-position: 60px 50%;
      }
    }

    &__checkbox {
      background: #011627;
      border: 1px solid #607B96;
      box-sizing: border-box;
      border-radius: 2px;
      opacity: 1;

      &:hover {
        outline: 1.5px solid #607B96;
        box-sizing: border-box;
      }

      padding: 9px;
      margin-right: 48px;

      &_selected {
        background-image: url(/img/projects/checkbox.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .checkbox-hidden {
      display: none;
    }
  }
}

.content {
  border-left: $border;
}