body, html {
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010C15;
    padding: 4%;
}



.page-container {
    max-height: 92%;
    border: 1px solid #1E2D3D;
    box-sizing: border-box;
    border-radius: 8px;
    background: #011627 url(/img/home/snakegame-blur.png) no-repeat 80% 50%;

    background-size: 780px;
}

.container {
    width: 55%;
    margin: 0 auto;
}

.content {
    margin: 180px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1600px) {
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .snake-game {
        margin-top: 25px;
    }
}

.snake-game {
    max-height: 450px;
    display: block;
    padding-left: 15px;
}

.greeting-title, .greeting {
    display: flex;
    flex-direction: column;
}

.greeting-title__dev {
    color: #4D5BCE;
}

.greeting-subtitle {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.greeting-subtitle__game-tip, .greeting-subtitle__git-tip {
    color: #607B96;
}

.greeting-subtitle__git-link {
    text-decoration: none;
}

.greeting-subtitle__git-link_blue {
    color: #4D5BCE;
}

.greeting-subtitle__git-link_green {
    color: #43D9AD;
}

.greeting-subtitle__git-link_red-link {
    color: #E99287;
}
.greeting-subtitle__git-link_red-link:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    border-top: 1px solid #1E2D3D;
}

.footer__link {
    border-right: 1px solid #1E2D3D;
    height: 50px;
    width: 50px;
}

.footer__link-gh {
    /*putting gh link to the right corner*/
    margin-left: auto;
    border-right: none;
    border-left: 1px solid #1E2D3D;
    width: auto;
    padding: 0 51px 0 23px;
    text-decoration: none;
    color: #607B96;
    background-image: url(/img/footer/gh.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    /*Vertical align*/
    display: flex;
    align-items: center;
}

.footer__link:hover {
    opacity: 0.75;
}

.footer__find-me {
    color: #607B96;
    padding: 15px 22px;
    border-right: 1px solid #1E2D3D;
}

.footer__link-tw {
    background-image: url(/img/footer/tw.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer__link-fb {
    background-image: url(/img/footer/fb.png);
    background-repeat: no-repeat;
    background-position: center;
}