//text styles for all pages


.headline {
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 81px;

  color: #E5E9F0;
}

.sub-headline {
  font-style: normal;
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;

  color: #FFFFFF;
}

.body-text {
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;

  color: #FFFFFF;
}

.label {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;
}

.code-snippet {
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 21px;

  color: #FFFFFF;
}