body, html {
  font-family: "Fira Code", monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: #010C15;
  padding: 4%;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.page-container {
  max-height: 92%;
  border: 1px solid #1E2D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: #011627;
  background-size: 780px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-nav {
  padding-top: 17px;
  width: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #1E2D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aside-button {
  margin-top: 33px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  opacity: 0.4;
}
.aside-button_current {
  opacity: 1;
}
.aside-button:hover {
  opacity: 1;
}

.nav-tree__title {
  color: white;
  text-align: left;
  border-bottom: 1px solid #1E2D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  cursor: pointer;
}

.nav {
  min-width: 250px;
}

.nav-tree__markdown {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-image: url(/img/about/md-icon.png);
  background-repeat: no-repeat;
  background-position: 10%;
  color: #607B96;
  height: 22px;
  cursor: pointer;
}
.nav-tree__markdown:before {
  content: ">";
  visibility: hidden;
  margin-right: 35px;
}
.nav-tree__markdown:hover {
  color: white;
}
.nav-tree-content {
  padding: 22px 0 27px 16px;
  border-bottom: 1px solid #1E2D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.nav-tree__folder {
  color: #607B96;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav-tree__folder:hover {
  color: white;
}

.nav-contacts__email {
  color: #607B96;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-left: 38px;
  margin-top: 18px;
  background-image: url(/img/about/mail-icon.png);
  background-repeat: no-repeat;
  background-position: 7%;
}
.nav-contacts__phone {
  color: #607B96;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-left: 38px;
  margin-top: 9px;
  background-image: url(/img/about/phone-icon.png);
  background-repeat: no-repeat;
  background-position: 7%;
}

.nav-findme__gh, .nav-findme__tg {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #607B96;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding-left: 38px;
  background-image: url(/img/contact/link-icon.png);
  background-repeat: no-repeat;
  background-position: 7%;
}
.nav-findme__gh:hover, .nav-findme__tg:hover {
  color: white;
}
.nav-findme__gh {
  margin-top: 18px;
}
.nav-findme__tg {
  margin-top: 9px;
}

.content {
  border-left: 1px solid #1E2D3D;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}

.folder-arrow {
  display: inline-block;
  margin-right: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.folder-arrow_opened {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main.invisible {
  height: 100%;
}

.thanks.invisible,
.contact-form.invisible,
.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.cat-arrow {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  margin-right: 10px;
  content: "";
  font-size: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.4px 4.25px 0 4.25px;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.cat-arrow_opened {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

input, textarea {
  padding: 10px 15px;
  outline: none;
  background: #011221;
  border: 1px solid #1E2D3D;
  border-radius: 8px;
  resize: none;
}
input:focus, textarea:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
          box-shadow: 0px 0px 0px 2px rgba(96, 123, 150, 0.3);
}

input {
  height: 40px;
}

textarea {
  height: 140px;
}

.code {
  padding: 80px 30px;
  border-left: 1px solid #1E2D3D;
  width: 60%;
}
.code pre code {
  overflow-x: scroll;
  padding: 0;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
  height: 100%;
  background: #011627;
}

.contact-form {
  width: 40%;
  margin: 60px auto;
}
.contact-form form {
  min-width: 250px;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-name__label, .form-email__label, .form-message__label {
  color: #607B96;
  margin-bottom: 10px;
}
.form-name__input, .form-email__input, .form-message__input {
  color: #465E77;
  margin-bottom: 25px;
}

.submit-button {
  background: #1C2B3A;
  border-radius: 8px;
  width: 146px;
  height: 38px;
  border: none;
}

.thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 60px auto;
  width: 40%;
}
.thanks-button {
  width: 160px;
}
.thanks__title {
  margin-bottom: 10px;
}
.thanks__subtitle {
  margin-bottom: 20px;
  color: #607B96;
}

@media (max-width: 1270px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-form,
.code {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .code {
    display: none;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav {
    width: 100%;
  }
  .nav-contacts__email, .nav-contacts__phone, .nav-findme__gh, .nav-findme__tg {
    padding-left: 70px;
  }

  .thanks {
    width: 75%;
  }

  .thanks__title {
    font-size: 24px;
  }
}