.footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #1E2D3D;
}

.footer__link {
  border-right: 1px solid #1E2D3D;
  height: 50px;
  width: 50px;
}

.footer__link-gh {
  /*putting gh link to the right corner*/
  margin-left: auto;
  border-right: none;
  border-left: 1px solid #1E2D3D;
  width: auto;
  padding: 0 51px 0 23px;
  text-decoration: none;
  color: #607B96;
  background-image: url(/img/footer/gh.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  /*Vertical align*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link:hover {
  opacity: 0.75;
}

.footer__find-me {
  color: #607B96;
  padding: 15px 22px;
  border-right: 1px solid #1E2D3D;
}

.footer__link-tw {
  background-image: url(/img/footer/tw.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__link-fb {
  background-image: url(/img/footer/fb.png);
  background-repeat: no-repeat;
  background-position: center;
}