body, html {
  font-family: "Fira Code", monospace;
  padding: 0;
  margin: 0;
}

body {
  background-color: #010C15;
  padding: 4%;
}

.page-container {
  max-height: 92%;
  border: 1px solid #1E2D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: #011627 url(/img/home/snakegame-blur.png) no-repeat 80% 50%;
  background-size: 780px;
}

.container {
  width: 55%;
  margin: 0 auto;
}

.content {
  margin: 180px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .snake-game {
    margin-top: 25px;
  }
}
.snake-game {
  max-height: 450px;
  display: block;
  padding-left: 15px;
}

.greeting-title, .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeting-title__dev {
  color: #4D5BCE;
}

.greeting-subtitle {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.greeting-subtitle__game-tip, .greeting-subtitle__git-tip {
  color: #607B96;
}

.greeting-subtitle__git-link {
  text-decoration: none;
}

.greeting-subtitle__git-link_blue {
  color: #4D5BCE;
}

.greeting-subtitle__git-link_green {
  color: #43D9AD;
}

.greeting-subtitle__git-link_red-link {
  color: #E99287;
}

.greeting-subtitle__git-link_red-link:hover {
  text-decoration: underline;
}