body, html {
    font-family: 'Fira Code', monospace;
    padding: 0;
    margin: 0;
}

body {
    background-color: #010C15;
    padding: 4%;
}

.page-container {
    max-height: 92%;
    background: #011627;
    border: 1px solid #1E2D3D;
    box-sizing: border-box;
    border-radius: 8px;
}

.container {
    min-width: 55%;
    margin: 0 auto;
}

.header {
    min-height: 56px;
    min-width: 100%;

    font-size: 16px;
    font-weight: 450;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-name {
    padding-left: 22px;
}

.header-link {
    text-decoration: none;
    color: #607B96;
}

.header-link:hover {
    color: white;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.header-nav__item {
    padding: 17px 32px;
    border-left: 1px solid #1E2D3D;
    color: #607B96;
}

.header-nav__item:hover {
    border-bottom: 3px solid #FEA55F;
}

.header-nav__item:last-child {
    border-right: 1px solid #1E2D3D;
}

.header_nav__item-selected {
    border-bottom: 3px solid #FEA55F;
    color: white;
}

.header-nav__contact {
    padding: 17px 22px;
    border-left: 1px solid #1E2D3D; ;
}